.news-delete-button{
    float: right;
    height: 20px;
    font-size: 10px;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.news-delete{
    margin: 0;
    float: right;
}

#map-container {
    height: 300px
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}

li:not(:last-child)  {
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px;
}
*/
/* Change the link color to #111 (black) on hover */
/*
li a:hover {
    color: darkred;
    background-color: #1b6d85;
}*/