$mainOrange: #ef581f;
$lightOrange: rgba(255, 145, 27, 0.63);

body {
  background-color: whitesmoke;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  font-family: "Roboto", sans-serif !important;
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  color: $mainOrange;
}

h4 {
  font-size: 14px;
}

.pager{
  margin: 0;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 145px;
}

.thumbnail .img-responsive img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  margin: 0 0;
}

.news-delete-button {
  float: right;
  height: 20px;
  font-size: 10px;
  background-color: $mainOrange;
  border-color: $mainOrange;
}

.news-delete {
  margin: 0;
  float: right;
}

#map-container {
  height: 250px
}

.imageContainer {
  border-radius: 20px;
  width: 500px;
  height: 150px;
  overflow: hidden;
}

.panel-orange > .panel-heading {
  color: black;
  background-color: $lightOrange;
  border-color: $lightOrange;
}

.panel-orange {
  border-color: $lightOrange;
}

/* Navigation Menu----------------------------------------------------------------------------------------------------*/
@import "components/navigationMenu";

/* Start of carousel--------------------------------------------------------------------------------------------------*/
@import "components/carousel";

/* Admin Navigation menu----------------------------------------------------------------------------------------------*/
@import "components/navigationSideMenuAdmin";

/* News panel---------------------------------------------------------------------------------------------------------*/
@import "components/newsPanel";

/* Rooms page---------------------------------------------------------------------------------------------------------*/
@import "components/roomsPage";

/* Main page welcome container----------------------------------------------------------------------------------------*/
@import "components/welcomeContainer";

/* Login form---------------------------------------------------------------------------------------------------------*/
@import "components/loginAndRegistrationFrom";